html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');
 /*SIDEBAR*/

.global-container{
    display:grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
   
    font-family: 'Roboto', sans-serif;
}

.sidebar-container{
    grid-row:1/3;
    background-color: #1992D4;
    display:grid;
    align-items: center;
    justify-content: flex-start;
    grid-template-rows: 0.1fr 0.5fr 0.1fr;
    color:white; 
    height: 100vh;
  }

.sidebar-container h1, p {
margin:0.5rem;
font-size: x-large;

}

.sidebar-container div{
    
    margin-top:0.5rem;
    color:white;
    margin-right:1.8rem;
    
}

.sidebar-container div div{
display:flex;
align-items: center;
margin-left:1rem;
}

.header-container{
    grid-column:2/3;
    display:grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5rem 5rem;
}

.main-container{
grid-area: 2 / 2 / 3 / 3;
background-color: #e2e8f0;
}




 /*HEADER*/

 .searchbar{
   display:flex;
   justify-content: start; 
   align-items: center;
   padding-left: 2rem;
   
   
   
 }

 .greeting img{
width: 5rem;
border: solid 1px;
border-radius: 50%;
grid-row: 1 / 3;
margin:auto;
margin-left: 3rem;
 }

 .pepe{
  width: 3rem;
  border: solid 1px;
  border-radius: 100%;
   }

   .searchbar input{
    border-radius: 2rem;
    background-color:#e2e8f0;
    width: 50rem;
    height: 1.5rem;
    margin-left: 1rem;
    border:none;
   }

   .user{
     display:flex;
     justify-content: center;
     align-items: center;
     gap:1rem;
     
   }

   .greeting{
display:flex;
width:22rem;
font-weight: 900;
   }

   .bold{   
    font-weight: 900;
    
       }

   .smaller{
         font-size:15px;
       }

   .buttons{
     display:flex;
     justify-content: center;
     align-items: center;
     gap:2rem;
   }

   .buttons button{
     background-color:#1992D4;
     color:white;
     border:none;
     width:7rem;
     height:2rem;
     border-radius: 2rem;
   }





   /* MAIN */

.main-container{
  display:grid;
  grid-template-columns: 3fr 1fr;
}

.cards{
  
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  align-items:start;
  width: 90%;
  height:90%;
  margin:auto;
}

.yellow{
  background-color: #f0b429;
 
  
}

.card{
  background-color: white;
  width: 90%;
  height: 11rem;
  border-radius: 1rem;
  display:grid;
  grid-template-columns: 1rem 1fr;
  overflow:hidden; 
  
}

.main-titles{  
  display:block;
  margin-left:8rem;
  margin-top: 1.5rem;
  
    
}

.white{
  display:grid;
  grid-template-columns: 1fr 6rem;
}

.small{
  font-size: smaller;
  color:rgb(83, 83, 83)
}

.card-icons{  
 margin-bottom: 0.5rem;
 display:flex;
 align-items: flex-end;
 grid-area:2 / 2 / 3 / 3;
 gap:0.5rem;
}

.card-text{
  height:90%;
  grid-area:1 / 1 / 2 / 3;
}

.Announcements{
  height:16rem;
  width: 18rem;
  background-color: white;
  border-radius: 1rem;
}

.announcements-container{
  display:flex;
  flex-direction: column;
  
}

.main-titles1{  
  display:block;
  margin-top: 1.5rem;
 
}

/*Announcements*/

.a-titles{
font-size:large;
width: 85%;
margin-left:10%;
margin-bottom: 0;
}

.a-text{
font-size: small;
color:rgb(83, 83, 83);
width: 85%;
margin-left:10%;
margin-bottom: 0.5rem;
}

hr {
  background-color:rgb(83, 83, 83);
  width: 85%;
}

.Announcements{
  display:flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding:0.2rem;
}

/* Trending */
.Trending{
  display:grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  height:100%;
  width: 18rem;
  background-color: white;
  border-radius: 1rem;
  justify-items: center;
  padding:0.5rem;
}

t-avatars{

width: 3rem;
border:5px ;
border-radius: 50%;
margin:auto;

}

.t-titles{
  font-size:large;
  
  }
  
  .t-text{
  font-size: small;
  
  }

.trending-container{
height: 15.8rem;
}

t-avaters{
  justify-items: center;
}